
@use "sass:color";
@mixin soft-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    
    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}