

// COLORES
$color-primario: #85835c;    // Verde oliva oscuro (para texto principal, íconos y tarjetas oscuras)
$color-secundario: #F7F5F0;  // ¡COLOR CREMA/BLANCO ROTO/FONDO! (Valor corregido)
$color-acento: #ebe4d2;      // Verde oliva claro (para líneas y detalles)
$color-fondo-frase: #e3d1b0; // Color marrón rosado para la sección de la frase inolvidable
$color-texto-oscuro: #333333; // Texto base oscuro
$color-texto-claro: #FFFFFF;  // Texto en fondo oscuro

// FUENTES
$font-titulo: 'Playfair Display', serif; // Fuente elegante para títulos
$font-cuerpo: 'Roboto', sans-serif;      // Fuente limpia para párrafos y números